.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Derived/
/Aura.xcodeproj/
/Workspace.xcworkspace/
/Example/*.xcworkspace/
/Example/*.xcodeproj/
/Example/.build
/Example/.derivedData
/Example/.catalystDD
/Example/.tuist-generated
/Example/Derived/
/Example/xcuserdata/
/Example/xcshareddata/
/Example/.swiftpm/
